<!-- {% extends "management/base.html" %} -->
<!-- {% load staticfiles %} -->
<!-- {% block title %}参数管理平台{% endblock %} -->
{% block extracss %}
   
   <style type="text/css">
 .row {
  height: 460px;
  margin: 0 auto;
  width: 1020px;
  padding:0;
  position: relative;
 }
 </style>
{% endblock %}
{% block content %}

<!-- <div class="row" width: style="background-image:url({% static 'metronic/layouts/layout2/img/1.jpg'%});repeat">>
    <div class="col-md-12" >
	 
        <h2 class="text-center">&emsp;&emsp;测试参数管理平台</h2>
		<h2 class="text-center">&emsp;&emsp;Welcome i{{user}}!</h2>
        <h3 class="text-center">Email:<span class="text-info">FTI</span></h3>
    </div>
</div> -->

{% endblock %}