{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}查看参数{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'js/../../management/static/js/../../static/js/parameterlist.js' %}"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="{% url 'view_parameters_list' %}?category=analog" class="list-group-item" id="id_category_analog">
                        模拟量参数
                    </a>
                    <a href="{% url 'view_parameters_list' %}?category=A429" class="list-group-item disabled" id="id_category_A429">
                        ARINC429总线参数
                    </a>
                    <a href="{% url 'view_parameters_list' %}?category=A664" class="list-group-item disabled" id="id_category_A664">
                        ARINC664总线参数
                    </a>
                    <a href="{% url 'view_parameters_list' %}?category=IMB" class="list-group-item disabled" id="id_category_IMB">
                        IMB总线参数
                    </a>
                </div>
                <script type="text/javascript">
                    $('#id_category_{{ query_category }}').addClass("active");
                </script>
            </div>
            <div class="col-md-10">
                <form role="form" method="post" name="search_form">
                    {% csrf_token %}
                    <input type="search" class="form-control" name="keyword"
                           placeholder="Enter keywords to search" id="id_search_input" onkeyup="key_up()"
                           autofocus>
                </form>
                <script type="text/javascript">
                    function key_up() {
                        var old_value = $('#id_search_input').val();
                        setTimeout(function () {
                            var new_value = $('#id_search_input').val();
                            if (old_value == new_value) {
                                document.search_form.submit();
                            }
                        }, 1500);
                    }
                </script>
                <table id="parametertable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>参数名称</th>
                        <th>参数符号</th>
                        <th>输出符号</th>
                        <th>参数范围</th>
                        <th>单位</th>
                        <th>精度</th>
                        <th>采样率</th>
                        <th>参数类型</th>
                        <th>参数来源</th>
                        <th>地面监控</th>
                        <th>机载监控</th>
                        <th>系统/专业</th>
                        <th>负责方</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for parameter in parameter_list %}
                        <tr>
                            <td>{{ parameter.name }}</td>
                            <!--<td><a href="{% url 'detail' %}?id={{ book.id }}">{{ goods.name }}</a></td>!-->
                            <td>{{ parameter.identifier }}</td>
                            <td>{{ parameter.name_output }}</td>
                            <td>{{ parameter.range_min }}</td>
                            <td>{{ parameter.unit }}</td>
                            <td>{{ parameter.accuracy }}</td>
                            <td>{{ parameter.samplerate }}</td>
                            <td>{{ parameter.type }}</td>
                            <td>{{ parameter.source }}</td>
                            <td>{{ parameter.ground_monitor }}</td>
                            <td>{{ parameter.airborne_monitor }}</td>
                            <td>{{ parameter.system }}</td>
                            <td>{{ parameter.responsibility }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>暂无参数</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script type="text/javascript">
                    $(document).ready( function () {
                         $('#parameterlist').DataTable();
                    } );
                </script>
                <nav>
                    <ul class="pager">
                        {% if parameter_list.has_previous %}
                            <li class="previous"><a
                                    href="?typ={{ query_category }}&page={{ parameter_list.previous_page_number }}">上一页</a>
                            </li>
                        {% else %}
                            <li class="previous disabled"><a href="#">上一页</a></li>
                        {% endif %}
                        第 {{ parameter_list.number }} / {{ parameter_list.paginator.num_pages }}页
                        {% if parameter_list.has_next %}
                            <li class="next"><a
                                    href="?typ={{ query_category }}&page={{ parameter_list.next_page_number }}">下一页</a>
                            </li>
                        {% else %}
                            <li class="next disabled"><a href="#">下一页</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}
